@page
@using Microsoft.AspNetCore.Html;
@model ByteSyncer.IdentityProvider.Pages.Authentication.RegisterModel
@{
	const string InputFieldClass = "w-full block mt-2 px-2 py-1 form-input shadow border rounded";
	const string InputFieldErrorClass = "h-fit block mt-2 text-sm text-red-500";

	ViewBag.Title = "Sign up";
}

<h1 class="text-3xl font-semibold mb-4">Registrace</h1>

<form method="post" class="group" novalidate>
	<div class="grid grid-cols-1 gap-4">
		<div>
			<label class="block">
				<span>Emailová adresa</span>
				<input class="@InputFieldClass @Model.GetValidationErrorsClasses(nameof(Model.Form.Email))" type="email" asp-for="Form.Email" required>
				@if (Model.HasValidationErrors(nameof(Model.Form.Email)))
				{
					<span class="@InputFieldErrorClass">
						@Model.GetValidationErrorsMessages(nameof(Model.Form.Email))
					</span>
				}
			</label>
		</div>

		<div>
			<label class="block">
				<span>Jméno</span>
				<input class="@InputFieldClass @Model.GetValidationErrorsClasses(nameof(Model.Form.GivenName))" type="text" asp-for="Form.GivenName" required">
				@if (Model.HasValidationErrors(nameof(Model.Form.GivenName)))
				{
					<span class="@InputFieldErrorClass">
						@Model.GetValidationErrorsMessages(nameof(Model.Form.GivenName))
					</span>
				}
			</label>
		</div>

		<div>
			<label class="block">
				<span>Příjmení</span>
				<input class="@InputFieldClass @Model.GetValidationErrorsClasses(nameof(Model.Form.FamilyName))" type="text" asp-for="Form.FamilyName" required">
				@if (Model.HasValidationErrors(nameof(Model.Form.FamilyName)))
				{
					<span class="@InputFieldErrorClass">
						@Model.GetValidationErrorsMessages(nameof(Model.Form.FamilyName))
					</span>
				}
			</label>
		</div>

		<div>
			<label class="block">
				<span>Heslo</span>
				<input class="@InputFieldClass @Model.GetValidationErrorsClasses(nameof(Model.Form.Password))" type="password" asp-for="Form.Password" required>
				@if (Model.HasValidationErrors(nameof(Model.Form.Password)))
				{
					<span class="@InputFieldErrorClass">
						@Model.GetValidationErrorsMessages(nameof(Model.Form.Password))
					</span>
				}
			</label>
		</div>

		<div>
			<label class="block">
				<span>Opakování hesla</span>
				<input class="@InputFieldClass @Model.GetValidationErrorsClasses(nameof(Model.Form.PasswordRepeat))" type="password" asp-for="Form.PasswordRepeat" required>
				@if (Model.HasValidationErrors(nameof(Model.Form.PasswordRepeat)))
				{
					<span class="@InputFieldErrorClass">
						@Model.GetValidationErrorsMessages(nameof(Model.Form.PasswordRepeat))
					</span>
				}
			</label>
		</div>

		<div>
			<button class="w-full block mt-2 px-2 py-1 shadow border rounded form-input group-invalid:pointer-events-none group-invalid:opacity-30 text-white bg-sky-900 hover:bg-sky-800 focus:bg-sky-800" type="submit">Registrovat se</button>
		</div>
		<div>
			<a class="block shadow appearance-none border rounded mt-2 px-2 py-1 text-center w-full hover:bg-gray-100 focus:bg-gray-100" asp-page="/Authentication/Login">Přihlásit se</a>
		</div>
	</div>
</form>
