@page
@using Microsoft.AspNetCore.Html;
@model ByteSyncer.IdentityProvider.Pages.Authentication.RegisterModel
@{
	ViewBag.Title = "Sign up";
}

<form method="post">
    <div class="row g-4">
        <div class="col-12 text-center">
            <h1>Registrace</h1>
        </div>
        <div class="col-12">
            <div class="form-outline">
                <input id="input-email" class="form-control  @Model.GetValidationInputClass(nameof(Model.Form.Email))" type="email" asp-for="Form.Email" aria-describedby="input-email">
                <label for="input-email" class="form-label">Emailová adresa</label>
                @if (Model.HasValidationErrors(nameof(Model.Form.Email)))
                {
                    <div class="invalid-feedback">
                        @Model.GetFirstValidationErrorMessage(nameof(Model.Form.Email))
                    </div>
                }
            </div>
        </div>
        <div class="col-12">
            <div class="form-outline">
                <input id="input-given-name" class="form-control @Model.GetValidationInputClass(nameof(Model.Form.GivenName))" type="text" asp-for="Form.GivenName" aria-describedby="input-given-name">
                <label for="input-given-name" class="form-label">Jméno</label>
                @if (Model.HasValidationErrors(nameof(Model.Form.GivenName)))
                {
                    <div class="invalid-feedback">
                        @Model.GetFirstValidationErrorMessage(nameof(Model.Form.GivenName))
                    </div>
                }
        </div>
        </div>
        <div class="col-12">
                <div class="form-outline">
                <input id="input-family-name" class="form-control @Model.GetValidationInputClass(nameof(Model.Form.FamilyName))" type="text" asp-for="Form.FamilyName" aria-describedby="input-family-name">
                <label for="input-family-name" class="form-label">Příjmení</label>
                    @if (Model.HasValidationErrors(nameof(Model.Form.FamilyName)))
                    {
                        <div class="invalid-feedback">
                            @Model.GetFirstValidationErrorMessage(nameof(Model.Form.FamilyName))
                        </div>
                    }
                </div>
        </div>
        <div class="col-12">
                <div class="form-outline">
                <input id="input-password" class="form-control @Model.GetValidationInputClass(nameof(Model.Form.Password))" type="password" asp-for="Form.Password" aria-describedby="input-password">
                <label for="input-password" class="form-label">Heslo</label>
                    @if (Model.HasValidationErrors(nameof(Model.Form.Password)))
                    {
                        <div class="invalid-feedback">
                            @Model.GetFirstValidationErrorMessage(nameof(Model.Form.Password))
                        </div>
                    }
                </div>
        </div>
        <div class="col-12">
                <div class="form-outline">
                <input id="input-password-repeat" class="form-control @Model.GetValidationInputClass(nameof(Model.Form.PasswordRepeat))" type="password" asp-for="Form.PasswordRepeat" aria-describedby="input-password-repeat">
                <label for="input-password-repeat" class="form-label">Opakování hesla</label>
                    @if (Model.HasValidationErrors(nameof(Model.Form.PasswordRepeat)))
                    {
                        <div class="invalid-feedback">
                            @Model.GetFirstValidationErrorMessage(nameof(Model.Form.PasswordRepeat))
                        </div>
                    }
                </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary btn-rounded btn-block" type="submit">Registrovat se</button>
        </div>
        <div class="col-12 text-center">
            <p class="text-secondary">Již máte účet? <a asp-page="/Authentication/Login">Přihlásit se</a></p>
            <p class="text-secondary">
                Odeslání vyplněného formuláře souhlasíte se
                <a href="#">zásadami zpracování osobních údajů</a>.
            </p>
        </div>
    </div>
</form>
